



<div class="container-fluid">
    <div class="row d-flex align-items-center mt-4">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3 col-xs-6 p10 m5">
            <img src="{{ asset('images/online.jpg') }}" style="width: 400px; height:400px">
        </div>
        <div class="col-lg-3 col-xs-6 text-center p-10 m5">
            <h1>Bievenue sur votre site EcoIT</h1>
            <p >Venez décourvrir nos formations, pour un web plus respectueux et vert</p>
            <button class="btn btn-success" href={{ path('app_register_apprenant') }} role="button" style="background-color:#474241">NOUS REJOINDRE</button>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>




