body{
    font-family: 'Lato', sans-serif;
    background-color: #D0CCB9;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Maitree', sans-serif;
    color: green;
}


#homeImg{
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgba(71,66,65,0.87);
}


/*  Inscription */


/* LOGIN */


/* navigation */
