{% extends 'base.html.twig' %}

{% block title %}Nouvelle section{% endblock %}

{% block header %}
{% endblock %}
{% block body %}
    <h1>Création d'une nouvelle section</h1>

    {{ include('section/_form.html.twig') }}

    <a href="{{ path('app_section_index') }}">Retour a la liste</a>
{% endblock %}
