{% extends 'base.html.twig' %}

{% block title %}Nouvelle leçon{% endblock %}

{% block header %}
{% endblock %}
{% block body %}

    <div class="text-center mt-3">
        <h1>Creer une nouvelle leçon</h1>
    </div>
        {{ include('lesson/_form.html.twig') }}
    <div class="text-center">
        <a href="{{ path('app_homepage') }}">Retour page d'accueil</a>
    <div class="text-center">
{% endblock %}
