{% extends 'base.html.twig' %}

{% block title %}Nouvelle leçon{% endblock %}

{% block header %}
{% endblock %}
{% block body %}
    <h1>Creer une nouvelle leçon</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_lesson_index') }}">back to list</a>
{% endblock %}
