{% extends 'base.html.twig' %}

{% block title %}New Quizz{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Création d'un nouveau quiz</h1>
    </div>


    {{ include('quizz/_form.html.twig') }}
    <div class="text-center">
        <a href="{{ path('app_homepage') }}">Retour accueil</a>
    </div>

{% endblock %}
